@import "tailwindcss";

@theme inline {
  --color-surface-container-lowest: #ffffff;
  --color-surface: #faf8ff;
  --color-secondary-fixed-dim: #c3c7cb;
  --color-surface-bright: #faf8ff;
  --color-on-primary-container: #eeefff;
  --color-error: #ba1a1a;
  --color-surface-tint: #0053db;
  --color-on-tertiary-container: #c1ffc5;
  --color-tertiary-fixed: #6bff8f;
  --color-on-tertiary-fixed: #002109;
  --color-on-secondary: #ffffff;
  --color-error-container: #ffdad6;
  --color-surface-container: #eaedff;
  --color-secondary-fixed: #dfe3e7;
  --color-inverse-on-surface: #eef0ff;
  --color-background: #faf8ff;
  --color-primary-fixed: #dbe1ff;
  --color-inverse-primary: #b4c5ff;
  --color-secondary: #5a5f62;
  --color-outline: #737686;
  --color-on-secondary-fixed: #171c1f;
  --color-on-primary-fixed-variant: #003ea8;
  --color-surface-variant: #dae2fd;
  --color-primary: #004ac6;
  --color-inverse-surface: #283044;
  --color-outline-variant: #c3c6d7;
  --color-on-secondary-container: #5e6367;
  --color-on-surface: #131b2e;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-fixed-variant: #43474b;
  --color-tertiary-fixed-dim: #4ae176;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container-high: #e2e7ff;
  --color-on-tertiary-fixed-variant: #005321;
  --color-on-background: #131b2e;
  --color-tertiary: #006229;
  --color-surface-dim: #d2d9f4;
  --color-surface-container-highest: #dae2fd;
  --color-secondary-container: #dce0e4;
  --color-on-primary: #ffffff;
  --color-primary-container: #2563eb;
  --color-on-surface-variant: #434655;
  --color-primary-fixed-dim: #b4c5ff;
  --color-on-primary-fixed: #00174b;
  --color-tertiary-container: #007e37;

  /* custom */
  --color-accent-green: #22c55e;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-900: #0f172a;
}

body {
  color: var(--color-on-surface);
  font-family: "Inter", sans-serif;
}